.meal{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.meal button{
    background-color: goldenrod;
}