.header{
    display: grid;
    grid-template-columns: 3fr  1fr;
    margin-top: 0;
    background-color: aquamarine;
    padding: 20px;
    
}
.logo-img{
    width: 70%;
}
.header nav a{
    text-decoration: none;
    padding-left: 20px;   
}